{% load socialaccount %}
{% load bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Leaderboard</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <script src="https://kit.fontawesome.com/0f3fa4a3a4.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=PT+Sans&display=swap" rel="stylesheet">

  <style>
    body {
      font-family: "Roboto", sans-serif;
      background-color: #E7F2F8;
    }

    .text-center {
      font-family: 'Open Sans', sans-serif;
      color: #061826;
    }

    tr {
      font-family: 'PT Sans', sans-serif;
      font-size: large;
      text-align: center;
    }

  </style>
</head>

<body>


  <!-- Navbar -->
  <div class="w3-top">
    <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1"
        href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
      <a href="{% url 'user' %}" class="w3-bar-item w3-button w3-theme-l1">Home</a>
      <a href="{% url 'listOfBundles' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Bundles</a>
      <a href="{% url 'map' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Map</a>
      <a href="{% url 'leaderboard' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Leaderboard</a>
      <a href="{% url 'submitClue' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Submit Clue</a>
      <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white w3-right">Log Out</a>
    </div>
  </div>


  </div>
  <div class="w3-row w3-padding-64">
    <div class="container">
      <h1 class="my-5 text-center"><i class="fa-solid fa-trophy fa-bounce" style="color: #ffed24;"></i> Leaderboard <i class="fa-solid fa-trophy fa-bounce" style="color: #ffed24;"></i></h1>
      <table class="table table-hover table-bordered">
        <thead class="bg-success text-black">
          <tr style="background-color:#FFA384;">
            <th>Rank</th>
            <th>Username</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody style="background-color: white;">
          {% for user in users %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.score }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


</body>

</html>